*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;   
}

.navigation{
    box-shadow: 0px 5px 10px 0px #aaa;
    padding: 15px;
    height: 30px;
    display: flex;
    justify-content:space-between;
}

.navigation a{
   text-align: center;
   text-decoration: none;
   font-size:larger;
   cursor: pointer;
   transition: color 0.3s ease-in-out;
}

.navigation span{
    width: 30%;
}

.navigation a:hover{
    color: rgb(255, 10, 10);
    text-decoration: underline;
    border-radius:5px;
}

#heading{
    text-align: center;
    height: 45px;
    padding: 17px;
    filter: drop-shadow(0px 8px 6.5px rgb(54, 96, 203));
    background-color: #f8f8f8;
    border: 2px solid rgba(2, 73, 255, 0.2);
}

.aboutinfo{
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    border: 2px solid blue;
    text-align: center;
    font-size: x-large;
    background-color: rgb(73, 73, 176,0.4);
}