
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.navigation{
    box-shadow: 0px 5px 10px 0px #dac3c3;
    padding: 15px;
    height: 30px;
    display: flex;
    justify-content:space-between;
}

.navigation a{
   text-align: center;
   text-decoration: none;
   font-size:larger;
   cursor: pointer;
   transition: color 0.3s ease-in-out;
}

.navigation span{
    width: 30%;
}

.navigation a:hover{
    color: #ff0a0a;
    text-decoration: underline;
    border-radius:5px;
}

.main{

    padding-top: 10px;
}

.brand_info{
    position: relative;
    top: -400px;
    left: 650px;
}

.brand_info span::before { 
    content: "BRAND YUVA"; 
    font-size: x-large;
    color: RED;
    animation: animate infinite 4s; 
    padding-left: 10px; 
} 

@keyframes animate { 

    7% { 
        content: "TRENDING"; 
    } 
    25%{
        content: "CULTURE";
    }
    50% { 
        content: "STYLE"; 
    } 

    75% { 
        content: "FASHION"; 
    } 
} 

.btn-view:hover{
    background-color: #dac3c3;
    color: #000;
    cursor: pointer;

}

.newarrival
{
    position: relative;
    top: -100px;
    font-family: 'Times New Roman', Times, serif;

}
.inner_iconarea{
    display: flex;
    justify-content: space-between;
    width: 100%;
    column-gap: 15px;
}

.newarival_paragraph{
    height: 51px;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    margin-top: 22px;
}

.main_heading{
    font-size: 18px;
letter-spacing: 0px;
line-height: 38px;
text-transform: uppercase;
color: #ffffff;
font-weight: 600;
font-family: "Raleway";
text-align: left;
}

.sub_heading{
    font-size: 16px;
letter-spacing: 0px;
line-height: 38px;
text-transform: uppercase;
color: #ffffff;
font-weight: 600;
font-family: 'Poppins';
text-align: left;
}
.btn-view{
    font-size: 16px;
    font-family: 'Poppins';
   color: #ffffff;
   font-weight: 400;
   line-height: 17px;
    background-color: #000;
    width: 155px;
height: 49px;
border-radius: 4px;
filter: drop-shadow(0px 5px 5px rgba(35,35,35,0.22));
}

.icon_div{
    position: relative;
    top: -170px;
    background-color: #ffffff;
    border: 2px solid rgba(60, 31, 31, 0.3);
}

.footer{
    background-color: #232323;
border: 1px solid rgba(255,255,255,0.1);
font-size: 15px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #888888;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    width: 100%;
}


.sec_cards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    height: 200px;
}
.cloths_container{
    height: 820px;
    padding-bottom: 20px;
}

.icons{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    column-gap: 15px;
}
.icon_text{
    font-size: 15px;
    line-height: 29px;
    color: #232323;
    font-weight: 600;
    font-family: "Raleway";
}
.new_text{
    font-size: 44px;
    line-height: 19px;
    color: #232323;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center
}

.cloth_name{
    font-size: 17px;
    line-height: 25px;
    color: #504f5a;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}

.cloth_price{
    font-size: 15px;
line-height: 25px;
color: #5265fe;
font-weight: 400;
font-family: "Poppins";
text-align: center;
padding-bottom: 20px;
}
.services{
    justify-content: space-around;
    display: flex;
    padding: 4px;
    background-color: #2e2a2a;
    color: white;
    margin-top: 5%;
    min-height: 350px;
    max-height: 500px;
    padding-left: 4%;
    padding-right: 4%;
}
 .sec_cards{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 55px;
  height: 242px;
 }

 img{
  max-width: 100%;
 }
 .card{
  position: relative;
  height: 300px;
 }
 .card img{
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
 }
 .card:hover{
    filter: drop-shadow(0px 8px 6.5px rgb(74, 74, 241));
 }
 

 